/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065fc;
    --boddy-bg-color: white;
    --main-bg-color: #f2f2f2;
    --seconde-bg-color: #d9d9d9;
    --filter-bg-color: #deebff;
    --Box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    --Box-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1440px;
    /* padding sur tablet et desktop */
    padding: 0 50px;
    margin: auto;
}

/* ---- Section header ---- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo du site */
header img {
    height: 19px;
    padding: 30px 0;
}

/* Menu nav */
.list_nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px ;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* Ajout de l'effet de survol */
li:hover a{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}

/* Landing page */
.find-location {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.main-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

main h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

/* Formulaire */
form {
    display: flex;
}

.form_location {
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    height: 50px;
    width: 50px;
}

.form_location i {
    /* color a corriger */
    color: #000000;

}

.text_rechercher {
    border: var(--main-bg-color) solid 1px;
    height: 46px;
    color: black;
    font-weight: 700;

}


/* Bouton Rechercher */
.search_button{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
}

.search_button i {
    display: none;
}

/* Filtres */
.filter-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
}

.filter-flex {
    display: flex;
    gap: 15px;
}

.filter {
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    background-color: var(--boddy-bg-color);
}

.filter i {
    color: var(--main-color);
}

.filter p {
    font-weight: bold;
}

.filter:hover {
    background-color: #deebff;
}
  
/* Info */

.info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.info p{
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(59, 59, 59);
}

.info .circle-info{
  border: #F2F2F2 solid 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info i{
  font-size: 81%;
  
}
/* Loupe pour media queries */
.fa-magnifying-glass{
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    border-radius: 20px;
    background-color: var(--main-bg-color);
    padding: 30px;

}

.cardContainer-hebergements {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-hebergements {
    flex-grow: 1;
    flex-basis: 28%;
    background-color: var(--boddy-bg-color);
    box-shadow: var(--Box-shadow);
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.card-hebergements img {
    border-radius: 20px 20px 0 0;
    width: 96%;
    height: 124px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
    padding: 0;
    border: 5px var(--boddy-bg-color) solid;
    margin: 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px 15px;
}

.card-description h3 {
    font-size: 16px;
}
.card-description p {
    font-size: 14px;
    font-weight: 400;
}

.starsContainer, .starsContainer li {
    padding: 0;
    display: flex;
    color: var(--main-color);
}

.starsContainer li:last-child {
    color: var(--main-bg-color);
}
.starsContainer span {
    font-weight: 800;
}

.show-more {
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

/****** Populaires ***********/
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.populaires-cards a {
    padding: 0;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 123px;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding: 10px 5px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-txt {
    display: flex;
    height: 85px;
    flex-direction: column;
    gap: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activite {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activite h2 {
    font-weight: 700;
    font-size: 22px;
}

.activite h3 {
    font-weight: 700;
    font-size: 16px;
}

.activite-content {
    display: flex;
    gap: 30px;
}

.activite-card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 22%;
    height: 439px;
}

.activite-card a {
    padding: 0;
}

.activite-card-img {
    height: 85%;
}

.activite-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.activite-card-title {
    padding: 20px;
}

/* Footer */
.footer {
    display: flex;
    margin-top: 30px;
    /* revoir le code pour intégrer variables */
    background-color: var(--main-bg-color);
}

.footer-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    gap: 15px;
    margin: 0;
}

.footer-content h3 {
    font-weight: 700;
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    li:hover a{
        padding-top: 30px;
    }

    /* Filtres tablet */
    .filter{
        padding: 0 5px;
        margin: 15px 0;
    }

    .filter p{
        padding: 3px;
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    /* Populaire */

    .populaires {

    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Activités */
    .activite-card {
        width: 23%;
    }

    .activite-title {
        display: flex;
    }

    .activite-content {
        justify-content: center;
        gap: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        padding: 0;
    }
    /* Header */
    header {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        width: 100%;
        padding: 0;
    }
    .nav_bar {
        display: flex;
        width: 50%;
    }

    .nav_bar a {
        display: flex;
        justify-content: center;
        padding: 15px 25px;
        width: 100%;
        border-bottom: 3px solid #d6d6d6;
    }

    li:hover a{
        border-top: none;
        padding: 15px 25px;
    }

    /* Main */
    .landing-page {
        padding: 0;
    }

    /* Formulaire */
    form {
        width: 90%;
    }

    .text_rechercher {
        width: 100%;
    }
    
    #search-desktop {
        display: none;
    }

    #search-mobile {
        display: flex;
        align-items: center;
        position: relative;
        right: 0px;
        height: 49px;
        width: 49px;
        color: #ffffff;
        background-color: #0065FC;
        border: none;
        border-radius: 12px 12px 12px 12px;
        font-weight: bold;
        font-size: 16px;
        padding: 9px 9px 9px 9px;
        cursor: pointer;
        justify-content: center;
    }

    /* Filtres */
    .filter-section {
        flex-direction: column;
        gap: 25px;
    }

    .filter-section .filter {
        margin: 0;
        width: 40%;
    }

    .filter-flex {
        flex-wrap: wrap;
    }

    /* Populaires */
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }
    
    .populaires-cards a {
        width: 100%;
    }

    /* Hebergement et populaire */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 30px 20px;
    }

    .cardContainer-hebergements {
        flex-direction: column;
    }

    /* Activités */
    .activite-content {
        flex-direction: column;
    }

    .activite-card {
        width: 100%;
        height: 200px;
    }

    .activite-card-img {
        height: 141px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px 20px;
    }

    .footer-content {
        gap: 6px;
    }

    .footer-content h3 {
        margin-bottom: 4px;
        margin-top: 10px;
    }
}